[Desktop Entry]
Name=Unicsy Demo Ofone
Comment=TestIcon=xfce4-power-manager-settings
Exec=/usr/share/unicsy/ofone/ofone -p
Terminal=true
Type=Application
NotShowIn=GNOME;KDE;Unity;
StartupNotify=false
