[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Unicsy demo
Comment=Hardware demo
Exec=/usr/share/unicsy/demo/demo.py
Icon=system-run
Terminal=true
Type=Application
Categories=System;Demo;
X-Osso-Type=application/x-executable
